body {
    margin: 0px;
    background-color: whitesmoke;
  
  }
  /*navbar*/
  .nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color:#FF6600;
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
  }
  
  .ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
  }
  
  /*Banner*/
  .banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/fondo.jpg);
  }
  
  .banner-container {
    text-align: center;
    padding: 15% 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  /*product cards*/
  .shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
  .card > img {
    width: 90%;
    height: 250px;
  }
  
  .price {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#FF6600;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  /*modal content*/
  .modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  
  .modal-header-button {
    cursor: pointer;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-container > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  }

  .copyright{
    display: flex;
    text-align: center;
    font-size: 14pt;
    justify-content: center;
   color: black;
    font-weight: 800;
    padding-top: 1px; 
}

.container-footer{
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container-footer ul{
    list-style: none;
    padding: 5px 0;
}
.footer{
    background: rgba(0, 0, 0, 0.171);
    margin: auto;
}
.footer-col{
    width: 30%;
    padding: 0 15px;
    font-weight: 600;
}

.footer-col h4{
    font-family: 'Cormorant Garamond', serif;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 20;
    bottom: -10px;
    background: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    font-weight: 300;
    color: black;
    display: block;
    font-family: 'Cormorant Garamond', serif;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: bisque;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: bisque;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5 ease;
}
.social-icon{
    width: 50px;
    height: 50px;
}

.footer-col .social-links a:hover{
    color:black;
    background-color: darkgrey;
}
  
  /*mobile*/
  
  @media only screen and (max-width: 750px) {
    .modal-container {
      width: 100%;
      margin: 0;
      min-height: 88vh;
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }
  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }

    @media(max-width:760px){
    .footer-col{
        width: 50%;
        margin-bottom: 20px;
     }
    }
    @media(max-width:570px){
    .footer-col{
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  
  .delete-product {
    cursor: pointer;
  }
  
  
  .cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
  }
  
  .sumar {
    cursor: pointer;
  }
  
  .restar {
    cursor: pointer;
  }